<div class="center hero-unit">
  <h1>Klientide halduse programm</h1>

  <h2>
    Tegemist on õppeaine IDU0200-Veebipõhiste rakenduste arhitektuur, disain ja tehnoloogia tarbeks loodud klientide halduse programmiga
  </h2>

  <%= link_to "Loo konto", signup_path, class: "btn btn-large btn-primary" %>
</div>